{
	"compact": true,
	"comments": false,
	"sourceMaps": "inline",
	"presets": [["@babel/preset-env", { "modules": "commonjs" }], ["@babel/preset-typescript"]],
	"parserOpts": {
		"strictMode": true,
		"plugins": ["typescript"]
	}
}
