[options]
prefix=!
token=
command-not-found=cmdnf
log-macro=

## commands

# Repeat
[commands.rp.actions.1]
type=repeat
macro=rp
times=5

# Test
[commands.test.actions.1]
type=delay
time=10000

[commands.test.actions.2]
type=say

button-label-1=Hello

# Bread
[commands.bread.options]
allowedchannels=whitelist
channel-id-1=869308360804155435

[commands.bread.actions.1]
type=say
reply=
content=Do you like bread? :bread:

button-emojiname-1=✔️
button-style-1=3
button-event-1=friend-now

button-emojiname-2=✖️
button-style-2=4
button-event-2=how-dare

# Loop
[commands.loop.actions.1]
type=macro
macro=loop

# kick
[commands.kick.actions.1]
type=say
content=Are you sure?

button-emojiname-1=✖️
button-style-1=4
button-event-1=ok

button-emojiname-2=✔️
button-style-2=3
button-event-2=kick


## macros

# kick
[macros.kick.actions.1]
type=kick
member=mention-1
member-not-found=member-not-found
success=successful-kick
missing-permissions=missing-kick-permissions

[macros.missing-kick-permissions.actions.1]
type=say
reply=
content=You dont have enough permissions to kick this user.

[macros.successful-kick.actions.1]
type=say
reply=
content=Successfully kicked user!

# member-not-found
[macros.member-not-found.actions.1]
type=say
reply=
content=Member not found.

[macros.ok.actions.1]
type=say
reply=
content=Ok

# loop
[macros.loop.actions.1]
type=say
content=This is a loop.

button-label-1=Ok
button-event-1=call-loop

# rp
[macros.rp.actions.1]
type=say
content=Repeating...

# call-loop
[macros.call-loop.actions.1]
type=macro
macro=loop

# friend-now
[macros.friend-now.actions.1]
type=say
reply=
content=You are my friend now! :smile:

# how-dare
[macros.how-dare.actions.1]
type=say
reply=
content=HoW DaRe YoU? :angry:

# command not found
[macros.cmdnf.actions.1]
type=say
reply=
content=Command does not exist.

# general chat
[macros.869308360804155435.actions.1]
type=say
reply=
content=You executed a command in general chat
